NEON_DATABASE_URL="your_neon_database_url_here"

SNOWFLAKE_ACCOUNT=XXXXXX-XX00000
SNOWFLAKE_USER=UserName
SNOWFLAKE_PASSWORD=SamplePassword
SNOWFLAKE_DATABASE=KS_DB
SNOWFLAKE_WAREHOUSE=KS_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_PRIVATE_KEY_PATH=~/.ssh/snowflake_rsa.p8

URGENCY_THRESHOLD=2